{% extends 'base.html.twig' %}

{% block title %}{{ 'Error - ' ~ title }}{% endblock %}
{% block header_title %}{{ 'Error - ' ~ title }}{% endblock %}

{% block body %}
    <p>{{ description }}</p>

    {%  include 'partial/error_table.html.twig' with
    {
        'timestamp': timestamp,
        'hostname': hostname,
        'requestId': request_id,
        'errorMessage': errorMessage,
        'sari': sari,
        'userAgent': user_agent,
        'ipAddress': ip_address
    }
    %}

    <p>{{ 'stepup.error.support_page.text'|trans({'%support_url%': global_view_parameters.supportUrl })|raw }}</p>

    {# For now the back button is not shown on the error page until a more intelligent solution is thought of #}
    {% block back_button %}{% endblock %}

{% endblock %}
