{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'authentication.sub_title'|trans }}</h2>

    <div id="root">
    </div>

    {% include 'default/variables.twig' %}
    {% block javascripts %}
        <script>
            var publicKeyOptions = {{ publicKeyOptions | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | raw }};
            var responseUrl = {{ url('verify-assertion') | json_encode | raw }};
        </script>
        {{ encore_entry_script_tags('authentication') }}
    {% endblock %}

{% endblock %}
